.header {
  display: table;
  width: 100%;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  text-align: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.branding .site-name {
  line-height: 1.5em;
}

.branding .site-logo {
  margin-top: 1em;
}

ul.menu {
  margin: 1em 0;
}

ul.menu li {
  display: inline;
  padding: 0 0.5em;
  margin: 0 0.5em;
}
