.header {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.branding {
  text-align: center;
}

.branding .site-name {
  line-height: 1.5em;
  margin-top: 0.5em;
}

.branding .site-logo {
  margin-top: 1em;
}
