.header {
  /* display: none; */
}

.header a {
  color: #fff;
  text-decoration: none;
}

.settings {
  float: right;
  margin-top: 1.5rem;
}

.branding {
  float: left;
}

.branding .site-name {
  line-height: 1.5em;
  margin-top: 0.5em;
}

.branding .site-logo {
  margin-top: 1em;
}
